Repository cs-samvith/e-com-site: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build-and-push-pipeline.yml, azure-pipelines/infrastructure-pipeline.yml

azure-pipelines/build-and-push-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Docker Images
    jobs:
    - ${{ each service in parameters.services }}:
      - job: Build_${{ replace(service, '-', '_') }}
        displayName: Build ${{ service }}
        pool:
          vmImage: ubuntu-latest
        steps:
        - task: Docker@2
  ...

azure-pipelines/infrastructure-pipeline.yml:
  stages:
  - stage: Validate
    displayName: Validate Infrastructure
    jobs:
    - job: ValidateBicep
      displayName: Validate Bicep Template
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: AzureCLI@2
        displayName: Azure CLI - Validate Template
        inputs:
  ...

dd
  infrastructure/bicep/fix-acr-permissions.ps1
  infrastructure/bicep/fix-acr-permissions.sh
  infrastructure/bicep/main-with-no-rbac.bicep
Due: azure-pipelines/infrastructure-pipeline.yml

Update main.bicep
  infrastructure/bicep/main.bicep
Due: azure-pipelines/infrastructure-pipeline.yml

ss
  azure-pipelines/infrastructure-pipeline.yml
  infrastructure/bicep/COMPLETE-GUIDE.md
  infrastructure/bicep/DEPLOYMENT_FIXES.md
  infrastructure/bicep/TROUBLESHOOTING.md
  infrastructure/bicep/main-with-no-rbac.bicep
  infrastructure/bicep/verify-deployment.ps1
  infrastructure/bicep/verify-deployment.sh
Due: azure-pipelines/infrastructure-pipeline.yml

ggg
  infrastructure/bicep/main-with-no-rbac.bicep
  infrastructure/bicep/main.bicep
Due: azure-pipelines/infrastructure-pipeline.yml

hhh
  infrastructure/bicep/DEPLOYMENT_FIXES.md
  infrastructure/bicep/TROUBLESHOOTING.md
  infrastructure/bicep/patch-template.sh
Due: azure-pipelines/infrastructure-pipeline.yml

hhh
  infrastructure/bicep/main-with-no-rbac.bicep
  infrastructure/bicep/main.bicep
Due: azure-pipelines/infrastructure-pipeline.yml

ss
  azure-pipelines/infrastructure-pipeline.yml
  infrastructure/bicep/check-existing-cluster.sh
Due: azure-pipelines/infrastructure-pipeline.yml

ssss
  azure-pipelines/build-and-push-pipeline.yml
Due: none

jhjhj
  azure-pipelines/build-and-push-pipeline.yml
  azure-pipelines/deploy-to-aks-pipeline.yml
  azure-pipelines/infrastructure-pipeline.yml
Due: azure-pipelines/infrastructure-pipeline.yml

dssds
  azure-pipelines/README.md
  azure-pipelines/deploy-to-aks-pipeline.yml
Due: none

rename
  kubernetes/autoscaling/product-service-keda.yaml
  kubernetes/base/data-layer/postgress/configmap.yaml
  kubernetes/base/data-layer/postgress/service.yaml
  kubernetes/base/data-layer/postgress/statefulset.yaml
  kubernetes/base/data-layer/rabbitmq/service.yaml
  kubernetes/base/data-layer/rabbitmq/statefulset.yaml
  kubernetes/base/data-layer/redis/deployment.yaml
  kubernetes/base/data-layer/redis/service.yaml
  kubernetes/base/namespace.yaml
  kubernetes/base/secrets/database-secrets.yaml
  kubernetes/base/secrets/jwt-secrets.yaml
  kubernetes/ingress/ingress.yaml
  kubernetes/services/frontend-service/deployment.yaml
  kubernetes/services/frontend-service/hpa.yaml
  kubernetes/services/frontend-service/service.yaml
  kubernetes/services/product-service/deployment.yaml
  kubernetes/services/product-service/hpa.yaml
  kubernetes/services/product-service/service.yaml
  kubernetes/services/user-service/deployment.yaml
  kubernetes/services/user-service/hpa.yaml
  kubernetes/services/user-service/service.yaml
Due: none

jjj
  kubernetes/base/data-layer/postgres/configmap.yaml
  kubernetes/base/data-layer/postgres/service.yaml
  kubernetes/base/data-layer/postgres/statefulset.yaml
Due: none

move
  kubernetes/data-layer/postgres/configmap.yaml
  kubernetes/data-layer/postgres/service.yaml
  kubernetes/data-layer/postgres/statefulset.yaml
  kubernetes/data-layer/rabbitmq/service.yaml
  kubernetes/data-layer/rabbitmq/statefulset.yaml
  kubernetes/data-layer/redis/deployment.yaml
  kubernetes/data-layer/redis/service.yaml
Due: none

Update build-and-push-pipeline.yml
  azure-pipelines/build-and-push-pipeline.yml
Due: none

jjj
  services/frontend-service/Dockerfile_
  services/product-service/Dockerfile_
  services/user-service/Dockerfile_
Due: azure-pipelines/build-and-push-pipeline.yml

uuuu
  services/frontend-service/Dockerfile
  services/product-service/Dockerfile
  services/user-service/Dockerfile
Due: azure-pipelines/build-and-push-pipeline.yml

jjj
  services/frontend-service/Dockerfile
  services/frontend-service/next.config.js
Due: azure-pipelines/build-and-push-pipeline.yml

kkk
  services/frontend-service/src/services/productService_.ts
  services/frontend-service/src/services/userService_.ts
Due: azure-pipelines/build-and-push-pipeline.yml

ll
  services/frontend-service/src/services/productService.ts
  services/frontend-service/src/services/userService.ts
Due: azure-pipelines/build-and-push-pipeline.yml

Create README.md
  services/frontend-service/public/README.md
Due: azure-pipelines/build-and-push-pipeline.yml

lllldd
  kubernetes/services/frontend-service/deployment.yaml
  kubernetes/services/product-service/deployment.yaml
  kubernetes/services/user-service/deployment.yaml
Due: none

docker fix
  services/product-service/Dockerfile
  services/user-service/Dockerfile
Due: azure-pipelines/build-and-push-pipeline.yml

tests
  azure-pipelines/deploy-to-aks-pipeline.yml
  kubernetes/services/frontend-service/deployment.yaml
  kubernetes/services/product-service/deployment.yaml
  kubernetes/services/user-service/deployment.yaml
Due: none

push changes
  services/product-service/app/main.py
  services/user-service/app/main.py
Due: azure-pipelines/build-and-push-pipeline.yml

Update ingress.yaml
  kubernetes/ingress/ingress.yaml
Due: none

hhh
  services/frontend-service/src/app/products/page.tsx
  services/frontend-service/src/contexts/AuthContext.tsx
Due: azure-pipelines/build-and-push-pipeline.yml

aaa
  services/frontend-service/src/app/products/page.tsx
  services/frontend-service/src/contexts/AuthContext.tsx
Due: azure-pipelines/build-and-push-pipeline.yml

push
  services/frontend-service/src/services/productService.ts
  services/frontend-service/src/services/userService.ts
Due: azure-pipelines/build-and-push-pipeline.yml

tests
  kubernetes/ingress/ingress.yaml
  services/frontend-service/next.config.js
  services/frontend-service/src/app/products/page.tsx
  services/frontend-service/src/services/productService.ts
  services/product-service/app/main.py
  services/user-service/app/main.py
Due: azure-pipelines/build-and-push-pipeline.yml

Update api.ts
  services/frontend-service/src/services/api.ts
Due: azure-pipelines/build-and-push-pipeline.yml

push
  infrastructure/bicep/deploy.sh
  infrastructure/bicep/main-no-rbac.bicep
  kubernetes/INGRESS-COMPARISON.md
  kubernetes/SECRETS-TROUBLESHOOT.md
  kubernetes/SERVICE-MESH.md
Due: azure-pipelines/infrastructure-pipeline.yml

Update SERVICE-MESH.md
  kubernetes/SERVICE-MESH.md
Due: none

kkk
  infrastructure/bicep/install-linkerd.sh
  kubernetes/SECURITY_AND_BEST_PRACTICES.md
  kubernetes/SERVICE-MESH-ISTIO.md
Due: azure-pipelines/infrastructure-pipeline.yml

push helm and argo cd
  azure-pipelines/helm-deployment.yaml
  helm/DEPLOYMENT-GUIDE.md
  helm/README.md
  helm/ecommerce/chart.yaml
  helm/ecommerce/templates/_helper.yaml
  helm/ecommerce/templates/frontend-service-deployment.yaml
  helm/ecommerce/templates/frontend-service-service.yaml
  helm/ecommerce/templates/hpa.yaml
  helm/ecommerce/templates/ingress.yaml
  helm/ecommerce/templates/product-service-deployment.yaml
  helm/ecommerce/templates/product-service-service.yaml
  helm/ecommerce/templates/secrets.yaml
  helm/ecommerce/templates/services.yaml
  helm/ecommerce/templates/user-service-deployment.yaml
  helm/ecommerce/templates/user-service-service.yaml
  helm/ecommerce/values-dev.yaml
  helm/ecommerce/values-prod.yaml
  helm/ecommerce/values.yaml
  kubernetes/ARGOCD_GUIDE.md
Due: none

Create BUILD-FROM-GROUND.md
  BUILD-FROM-GROUND.md
Due: none

so many things
  DNS/k8s-dns.md
  DNS/whatisincluded.md
  GKE-MIGRATION/gke-setup.sh
  GKE-MIGRATION/migration-guide.md
  GKE-MIGRATION/what.md
  SSL/TLS Certificate Setup Guide.md
  SSL/TROUBLESHOOTING.md
  SSL/how-touse.md
  SSL/setupscript.sh
  azure-pipelines/codecoverage/build-pipeline.yml
  azure-pipelines/codecoverage/dependencysetup.py
  azure-pipelines/codecoverage/fastapi.py
  azure-pipelines/codecoverage/setup.md
  kubernetes/INGRESS.md
  kubernetes/ingress/ingress-updated.yml
  kubernetes/security/networkpolicy.yaml
Due: none

terraform
  .github/workflows/monitoring-deploy.yml
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-destroy.yml
  docs/GITHUB_ACTIONS_SETUP.md
  docs/GRAFANA_DASHBOARDS_GUIDE.md
  docs/MICROSERVICES_PATTERNS.md
  docs/MONITORING_SETUP.md
  docs/WORKFLOW_DIAGRAM.md
  infrastructure/terraform/README.md
  infrastructure/terraform/environments/dev.tfvars
  infrastructure/terraform/environments/prod.tfvars
  infrastructure/terraform/environments/staging.tfvars
  infrastructure/terraform/main.tf
  infrastructure/terraform/monitoring.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/terraform.tfvars
  infrastructure/terraform/variables.tf
  kubernetes/monitoring/prometheus-stack.yaml
  monitor/dashboard/dashboard-what.md
  monitor/dashboard/ecommerce-overview.json
  monitor/dashboard/kubernetes/monitoring/grafana-dashboard-configmap.yaml
  monitor/dashboard/product-service/app/main.py
  monitor/dashboard/product-service/app/metrics.py
  monitor/dashboard/user-service/app/metrics.py
  monitor/monitor-options.md
  monitor/what.md
Due: none

Create MICROSERVICE_PATTERNS_IMPLEMENT.md
  docs/MICROSERVICE_PATTERNS_IMPLEMENT.md
Due: none

Path conditions:
  azure-pipelines/build-and-push-pipeline.yml: any of: services
  azure-pipelines/infrastructure-pipeline.yml: any of: infrastructure/bicep, azure-pipelines/infrastructure-pipeline.yml
